In [1]:
print('Hiiiiiiii')

Hiiiiiiii

In [ ]:
# Single line comment
#Data types in Python Programming
'''
1. Int
2. Float
3. Complex
4. String
5. Boolean
6. List
7. Tuple
8. Set
9. Dict
'''

In [ ]:
# Variable Definition

x=10 #Single Variable Assignment
x,y=1000,2000
x,y,z,_=1,2,3,4  #Multiple Variable Assignment

In [3]:
num = '100'

num1 = 3

num2 = num * num1
print(num2)

100100100

In [ ]:
#Rule for Variable 
'''
1. Special Characters not allowed at prefix of variable
2. Variable should not contain space in between 2 words
'''

In [2]:
#Print Function

print('Hiii')
print(100+1000)

Hiii
1100

In [1]:
''' 
Logic
1: Ask user to enter 2 values
2. Perform mathemarical operation
3. Give result
'''
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)
print(f'The output Result = {num3}')
print(f'The output Result {num1} + {num2} = {num3}')

The output Result =  20.0
The output Result = 20.0
The output Result 10.0 + 10.0 = 20.0

In [12]:
#Indexing and Slicing

str = 'Tathagat Pagare'

str[0]

'T'

In [2]:
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)

The output Result =  20.0

In [11]:
str = 'america nice' 
print(str[-9:-1:])

rica nic

In [13]:
# If Else statement

if True:
    print('I am True')

if False:
    print('I am False')

I am True

In [14]:
num = 10

if num >= 100:
    print('Satisfy')
else:
    print('Fuck off')

Fuck off

In [15]:
number=float(input())
if number > 2:
    print('Higher')
if number < 2:
    print('Lower')
else:
    print('2')

Lower

In [6]:
# Program for Volume Calc

''' 
Volume = Area * Height
Step1= ask user to enter diameter
step2= ask user to enter height
step3= volume =area*height
step4= print the desired output
'''

Pi = 3.14
radius = float(input('Enter radius: '))
height = float(input('Enter height: '))
volume = Pi*(radius**2)*height
print(f'Vol = {volume} mm^3')

Vol = 392.5 mm^3

In [ ]:
#Marks 

''' 
1 ask user to put marks
2 logic: marks > 90 : excellent
         90<marks>60 : bright
         marks less than 60 : poor
3 print
'''

marks = float(input('Enter the marks: '))
if marks>90:
    print('Ghazab')
elif marks < 90 and marks > 60:
    print('Thik_thak')
else:
    print('Jhatu')

Jhatu

In [9]:
# for loop
# range(start,stop,step)
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [11]:
# for loop
# range(start,stop,step)
for i in range (10):
    print('*'*i,end = ' ')

 * ** *** **** ***** ****** ******* ******** *********

In [12]:
# for loop
# range(start,stop,step)
for i in range (10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [18]:
for i in range (0,10):
    print(i)
    if i == 4:
        break

0
1
2
3
4

In [19]:
#palindrom definition function

def Palindrom():
    text1 = input('Enter the string: ')
    text2 = text1 [::-1]

    if text1 == text2:
        print('Is Palindrom')
    else:
        print('Not Palindrom')
Palindrom()

Is Palindrom

In [20]:
#Compute 

def compute(num1,num2):
    num3 = num1 + num2
    return num3

ans = compute(100,200)

print(f'The answer is {ans}')

The answer is 300

In [5]:
tup= (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [9]:
# Tuples 

tup = (10,20,30,40)
print(tup)

#Typecast
tup = list(tup)
print(tup)

tup.append(50)
print(tup)

(10, 20, 30, 40)
[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [ ]:
#Dictionary

#dict = {'key1':value}

d = {'1':10} # '1': Key & 10 is value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [15]:
d ={'India':[10,20,30,40],'USA': 50,'UK':60}
print(d['India'][1])

20

In [20]:
d = [('USA',1000),('India',2000)]
d = dict(d)
d['UK'] = 3000
d

{'USA': 1000, 'India': 2000, 'UK': 3000}

In [22]:
#set

d = {1,2,3,4}
print(type(d))

d = {10,10,20,20,30,40}
print(d)

<class 'set'>
{40, 10, 20, 30}

In [ ]:
# UDF User defined function without parameters

def add ():             #function definition 
        num1 = 100   # parameters
        num2 = 300

        return num1 + num2  # return expression
print(add())   #function calling

400

In [ ]:
# user defined function with parameters

def add(num1, num2): #function with parameters
    return num1 + num2 #return parameters 

ans = add(100,200)  # function calling
print(ans)

300

In [15]:
# user defined function with parameters

def add(num1, num2): #function with parameters
    return num1 + num2 #return parameters 

a = add(100,200)  # function calling
print(a)

300

In [25]:
# UDF Calculator

number1 = float(input('Enter First Number: '))
number2 = float(input('Enter Second Number: '))
choice = input('Choice : 1/2/3/4')

def add(num1, num2):
    num3 = num1 + num2
    return num3 

if choice == '1':
    ans = add(number1,number2)
    print(f'Addition of {number1} & {number2} is {ans}')

def sub(num1, num2):
    num3 = num1 - num2
    return num3 

if choice == '2':
    ans = sub(number1,number2)
    print(f'Subtraction of {number1} & {number2} is {ans}')

def mul(num1, num2):
    num3 = num1 * num2
    return num3 

if choice == '3':
    ans = add(number1,number2)
    print(f'Multiplication of {number1} & {number2} is {ans}')

def div(num1, num2):
    num3 = num1 / num2
    return num3 

if choice == '4':
    ans = div(number1,number2)
    print(f'Division of {number1} & {number2} is {ans}')

Addition of 1.0 & 1.0 is 2.0

In [28]:
def compute():
    lst= []
    sum = 0
    for i in range(1,11):
        if i%2 == 0:
            lst.append(i)
            sum = sum + i
    return sum,lst 
sum,lst = compute()
print(sum)
print(lst)

30
[2, 4, 6, 8, 10]

In [4]:
#factorial series = 4!

def factorial(n):

    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [15]:
#factorial series = 4!

def factorial(n):

    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)


factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [31]:
def number(n): 

    a,b = 0,1
    for i in range(10):
        print (a,end="  ")
        a = b
        b = a + b

number(5)

0  1  2  4  8  16  32  64  128  256

In [3]:
class Employee:
    pass

emp1 = Employee()
emp2 = Employee()

print(type(emp1))

<class '__main__.Employee'>

In [ ]:
class Employee: 

    Company_Name = "It Vedant"
    Company_Est = "1998"

    def __init__(self,Name,Age,Position):
        self.Name = Name
        self.Age = Age
        self.Position = Position

emp1 = Employee("Tathagat",27,"DSDA")
emp2 = Employee("Sambodhi",20,"Python")

print(emp1.Company_Name)
print(emp1.Name)

It Vedant
Tathagat

In [11]:
class Employee: 
    def __init__(self,Name,Age,Position):
        self.Name = Name
        self.Age = Age
        self.Position = Position

    def details(self):
        print(f'name:{self.name}','age:{self.age}','position:{self.position}')

class Manager(Employee):
    def __init__(self, Name, Age, Position, Department):
        super().__init__(Name, Age, Position)
        self.department = Department

    def details(self):
        print(f'name:{self.Name}','age:{self.Age}','position:{self.Position}')
        print(f'Department:{self.Department}')


emp1 = Employee("Sambodhi",20,"Junior")
emp2 = Manager("Tathagat",26,"Senior","DSDA")

print(emp1.Name)
print(emp2.Name)
print(emp2.Name,emp2.Age)

Sambodhi
Tathagat
Tathagat 26

In [17]:
class Car:
    def __init__(self,enginetype,tyre,color):
        self.enginetype = enginetype
        self.tyre = tyre
        self.color = color

    def mileage(self):
        self.mileage = 69
        print(self.mileage)

class Petrol(Car):
    def __init__(self,enginetype,tyre,color):
        super().__init__(self,enginetype,tyre,color)
        self.enginetype = "Petrol"
        self.tyre = 4
        self.color = "Red"

    def Sound(self):
        print("Oh Yeaaaaahhhhhh")

class Diesel(Car):
    def __init__(self,enginetype,tyre,color):
        super().__init__(self,enginetype,tyre,color)
        self.enginetype = "Diesel"
        self.tyre = 4
        self.color = "Black"

    def Sound(self):
        print("Hell Yeaaaaahhhhhh")

class EV(Car):
    def __init__(self,enginetype,tyre,color):
        super().__init__(self,enginetype,tyre,color)
        self.enginetype = "EV"
        self.tyre = 4
        self.color = "Blue"

    def Sound(self):
        print("Helll Naaahhhhh")

In [32]:
class Car:
    def __init__(self, enginetype, tyre, color):
        self.enginetype = enginetype
        self.tyre = tyre
        self.color = color

    def mileage(self):
        self.mileage = 69
        print(self.mileage)

class Petrol(Car):
    def __init__(self):
        super().__init__("Petrol", 4, "Red")

    def Sound(self):
        print("Oh Yeaaaaahhhhhh")

class Diesel(Car):
    def __init__(self):
        super().__init__("Diesel", 4, "Black")

    def Sound(self):
        print("Hell Yeaaaaahhhhhh")

class EV(Car):
    def __init__(self):
        super().__init__("EV", 4, "Blue")

    def Sound(self):
        print("Helll Naaahhhhh")

car1 = Petrol()
car2 = Diesel()
car3 = EV()

car1.Sound()   
car2.Sound()   
car3.Sound()   

print(car1.color) 
print(car2.tyre) 
print(car3.enginetype)

Oh Yeaaaaahhhhhh
Hell Yeaaaaahhhhhh
Helll Naaahhhhh
Red
4
EV

In [37]:
class Bank:
    def __init__(self, NRI, Savings, Current):
        self.NRI = NRI
        self.Savings = Savings
        self.Current = Current


class Tathagat(Bank):
    def __init__(self):
        super().__init__(0, 1000, 2000)


class Shivam(Bank):
    def __init__(self):
        super().__init__(0, 500, 1000)


class Vishal(Bank):
    def __init__(self):
        super().__init__(0, 500, 1500)

E1 = Tathagat()
E2 = Shivam()
E3 = Vishal()

print(E1.Savings)

1000

In [ ]:
class Bank:  # Parent Class
    def __init__(self, account_holder, balance=0):  # Special Method : Constructor : Instance Method
        self.account_holder = account_holder        # Instance Variable1
        self.balance = balance                      # Instance Variable2

    def show_balance(self):                         # class method : class function
        print(f"Account Holder: {self.account_holder}")
        print(f"Current Balance: {self.balance}\n")


class CurrentAccount(Bank):  # Child Class
    def withdraw_amount(self, amount):              # child class method : child class function
        if amount <= self.balance:
            self.balance -= amount                  # self.balance = self.balance - amount
            print(f"{amount} withdrawn successfully from Current Account.")
        else:
            print("Insufficient balance.")

    def credit_amount(self, amount):                # child class method : child class function
        self.balance += amount                      # self.balance = self.balance + amount
        print(f"{amount} credited successfully to Current Account.")

class SavingAccount(Bank):  # Child Class
    def withdraw_amount(self, amount):  # child class method : child class function
        if amount <= self.balance:
            self.balance -= amount       # self.balance = self.balance - amount
            print(f"{amount} withdrawn successfully from Savings Account.")
        else:
            print("Insufficient balance.")

    def credit_amount(self, amount):     # child class method : child class function
        self.balance += amount           # self.balance = self.balance + amount
        print(f"{amount} credited successfully to Savings Account.")

In [3]:
'''
class ITV:
    constructor
    - Name
    - student_id
    - course 
    - duration
    - experience

class students(ITV)
    details
class Trainer(ITV)
    details

Define:
    - 2 students objects
    - 2 trainer 
'''

class ITV:
    def __init__(self,name,student_id,course,duration,experience):
        self.name = name
        self.student_id = student_id
        self.course = course
        self.duration = duration
        self.experience = experience

class students(ITV):
    def __init__(self, name, student_id, course, duration, experience):
        super().__init__(name, student_id, course, duration, experience)

class trainer(ITV):
    def __init__(self, name, student_id, course, duration, experience):
        super().__init__(name, student_id, course, duration, experience)

S1 = students("Tathagat",1,"XX",1,0)
S2 = students("Shivam",1,"XX",1,0)

T1 = trainer("Tathagat Sir",1,"XX",1,10)
T2 = trainer("Shivam Sir",1,"XX",1,10)

print(S1.name)

Tathagat

In [9]:
import math 

a=math.ceil(5.5)
print(a)

a=math.floor(5.5)
print(a)

a=math.sqrt(5)
print(a)

a=math.pow(5,2)
print(a)

a=math.factorial(5)
print(a)

6
5
2.23606797749979
25.0
120

In [2]:
number =10
print(number)

del number 
print(number)

10

NameError: name 'number' is not defined

In [9]:
class Dog:

    tricks = []    # Wrong code

    def __init__(self,name):
        self.name = name 

    def add_tricks(self,tricks):
        self.tricks.append(tricks)

d = Dog('Max')
e = Dog('Maxy')
d.add_tricks('Roll')
e.add_tricks('Jump')

print(d.tricks)

['Roll', 'Jump']

In [ ]:
class Dog: 

    def __init__(self,name):
        self.name = name 
        self.tricks = []

    def add_tricks(self,tricks):
        self.tricks.append(tricks)

d = Dog('Max')
e = Dog('Maxy')
d.add_tricks('Roll')
e.add_tricks('Jump')

print(d.tricks)
print(e.tricks)

['Roll']
['Jump']

In [10]:
lst = []

for i in range(10):
    lst.append(i*i)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
print([i*i for i in range(11)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
lst = []

for i in range(20):
    if i%2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
print([i for i in range(20) if i%2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
fruits = ['a','b','c']

[i.upper() for i in fruits]

['A', 'B', 'C']