In [1]:
print('Hiiiiiiii')

Hiiiiiiii

In [ ]:
# Single line comment
#Data types in Python Programming
'''
1. Int
2. Float
3. Complex
4. String
5. Boolean
6. List
7. Tuple
8. Set
9. Dict
'''

In [ ]:
# Variable Definition

x=10 #Single Variable Assignment
x,y=1000,2000
x,y,z,_=1,2,3,4  #Multiple Variable Assignment

In [3]:
num = '100'

num1 = 3

num2 = num * num1
print(num2)

100100100

In [ ]:
#Rule for Variable 
'''
1. Special Characters not allowed at prefix of variable
2. Variable should not contain space in between 2 words
'''

In [2]:
#Print Function

print('Hiii')
print(100+1000)

Hiii
1100

In [1]:
''' 
Logic
1: Ask user to enter 2 values
2. Perform mathemarical operation
3. Give result
'''
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)
print(f'The output Result = {num3}')
print(f'The output Result {num1} + {num2} = {num3}')

The output Result =  20.0
The output Result = 20.0
The output Result 10.0 + 10.0 = 20.0

In [12]:
#Indexing and Slicing

str = 'Tathagat Pagare'

str[0]

'T'

In [2]:
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)

The output Result =  20.0

In [11]:
str = 'america nice' 
print(str[-9:-1:])

rica nic

In [13]:
# If Else statement

if True:
    print('I am True')

if False:
    print('I am False')

I am True

In [14]:
num = 10

if num >= 100:
    print('Satisfy')
else:
    print('Fuck off')

Fuck off

In [15]:
number=float(input())
if number > 2:
    print('Higher')
if number < 2:
    print('Lower')
else:
    print('2')

Lower

In [6]:
# Program for Volume Calc

''' 
Volume = Area * Height
Step1= ask user to enter diameter
step2= ask user to enter height
step3= volume =area*height
step4= print the desired output
'''

Pi = 3.14
radius = float(input('Enter radius: '))
height = float(input('Enter height: '))
volume = Pi*(radius**2)*height
print(f'Vol = {volume} mm^3')

Vol = 392.5 mm^3

In [ ]:
#Marks 

''' 
1 ask user to put marks
2 logic: marks > 90 : excellent
         90<marks>60 : bright
         marks less than 60 : poor
3 print
'''

marks = float(input('Enter the marks: '))
if marks>90:
    print('Ghazab')
elif marks < 90 and marks > 60:
    print('Thik_thak')
else:
    print('Jhatu')

Jhatu

In [9]:
# for loop
# range(start,stop,step)
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [11]:
# for loop
# range(start,stop,step)
for i in range (10):
    print('*'*i,end = ' ')

 * ** *** **** ***** ****** ******* ******** *********

In [12]:
# for loop
# range(start,stop,step)
for i in range (10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [18]:
for i in range (0,10):
    print(i)
    if i == 4:
        break

0
1
2
3
4

In [19]:
#palindrom definition function

def Palindrom():
    text1 = input('Enter the string: ')
    text2 = text1 [::-1]

    if text1 == text2:
        print('Is Palindrom')
    else:
        print('Not Palindrom')
Palindrom()

Is Palindrom

In [20]:
#Compute 

def compute(num1,num2):
    num3 = num1 + num2
    return num3

ans = compute(100,200)

print(f'The answer is {ans}')

The answer is 300

In [5]:
tup= (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [9]:
# Tuples 

tup = (10,20,30,40)
print(tup)

#Typecast
tup = list(tup)
print(tup)

tup.append(50)
print(tup)

(10, 20, 30, 40)
[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [ ]:
#Dictionary

#dict = {'key1':value}

d = {'1':10} # '1': Key & 10 is value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [15]:
d ={'India':[10,20,30,40],'USA': 50,'UK':60}
print(d['India'][1])

20

In [20]:
d = [('USA',1000),('India',2000)]
d = dict(d)
d['UK'] = 3000
d

{'USA': 1000, 'India': 2000, 'UK': 3000}

In [22]:
#set

d = {1,2,3,4}
print(type(d))

d = {10,10,20,20,30,40}
print(d)

<class 'set'>
{40, 10, 20, 30}

In [ ]:
# UDF User defined function without parameters

def add ():             #function definition 
        num1 = 100   # parameters
        num2 = 300

        return num1 + num2  # return expression
print(add())   #function calling

400

In [ ]:
# user defined function with parameters

def add(num1, num2): #function with parameters
    return num1 + num2 #return parameters 

ans = add(100,200)  # function calling
print(ans)

300

In [15]:
# user defined function with parameters

def add(num1, num2): #function with parameters
    return num1 + num2 #return parameters 

a = add(100,200)  # function calling
print(a)

300

In [25]:
# UDF Calculator

number1 = float(input('Enter First Number: '))
number2 = float(input('Enter Second Number: '))
choice = input('Choice : 1/2/3/4')

def add(num1, num2):
    num3 = num1 + num2
    return num3 

if choice == '1':
    ans = add(number1,number2)
    print(f'Addition of {number1} & {number2} is {ans}')

def sub(num1, num2):
    num3 = num1 - num2
    return num3 

if choice == '2':
    ans = sub(number1,number2)
    print(f'Subtraction of {number1} & {number2} is {ans}')

def mul(num1, num2):
    num3 = num1 * num2
    return num3 

if choice == '3':
    ans = add(number1,number2)
    print(f'Multiplication of {number1} & {number2} is {ans}')

def div(num1, num2):
    num3 = num1 / num2
    return num3 

if choice == '4':
    ans = div(number1,number2)
    print(f'Division of {number1} & {number2} is {ans}')

Addition of 1.0 & 1.0 is 2.0

In [28]:
def compute():
    lst= []
    sum = 0
    for i in range(1,11):
        if i%2 == 0:
            lst.append(i)
            sum = sum + i
    return sum,lst 
sum,lst = compute()
print(sum)
print(lst)

30
[2, 4, 6, 8, 10]