In [1]:
print('Hiiiiiiii')

Hiiiiiiii

In [ ]:
# Single line comment
#Data types in Python Programming
'''
1. Int
2. Float
3. Complex
4. String
5. Boolean
6. List
7. Tuple
8. Set
9. Dict
'''

In [ ]:
# Variable Definition

x=10 #Single Variable Assignment
x,y=1000,2000
x,y,z,_=1,2,3,4  #Multiple Variable Assignment

In [3]:
num = '100'

num1 = 3

num2 = num * num1
print(num2)

100100100

In [ ]:
#Rule for Variable 
'''
1. Special Characters not allowed at prefix of variable
2. Variable should not contain space in between 2 words
'''

In [2]:
#Print Function

print('Hiii')
print(100+1000)

Hiii
1100

In [1]:
''' 
Logic
1: Ask user to enter 2 values
2. Perform mathemarical operation
3. Give result
'''
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)
print(f'The output Result = {num3}')
print(f'The output Result {num1} + {num2} = {num3}')

The output Result =  20.0
The output Result = 20.0
The output Result 10.0 + 10.0 = 20.0

In [12]:
#Indexing and Slicing

str = 'Tathagat Pagare'

str[0]

'T'

In [2]:
num1 = float(input('Enter the first value: '))
num2 = float(input('Enter the first value: '))
num3 = num1 + num2
print('The output Result = ',num3)

The output Result =  20.0

In [11]:
str = 'america nice' 
print(str[-9:-1:])

rica nic

In [13]:
# If Else statement

if True:
    print('I am True')

if False:
    print('I am False')

I am True

In [14]:
num = 10

if num >= 100:
    print('Satisfy')
else:
    print('Fuck off')

Fuck off

In [15]:
number=float(input())
if number > 2:
    print('Higher')
if number < 2:
    print('Lower')
else:
    print('2')

Lower